@charset "UTF-8";


.container {
  width: 100%; height: 100%;

  display: flex;
}

.container header {
  width: 100%; height: 5.5vh; 
  background-color: #000;

  box-sizing: border-box;
  padding: 1vh 10px;
  border-bottom: 1px solid #fff;

  display: flex;  flex-flow: row;
  justify-content: space-between;
  text-indent: -9999px;
}
.container header #menu {
  width: 100%; height: 100%;
  background: url(../common/images/HamMenu.svg) no-repeat 0 50%  / 3vh ;
}
.container header #menu a {height: 100%;}
.container header h2 {
  width: 100%; height: 100%;
  background: url(../common/images/Mobile_LUSHkorea.svg) no-repeat 100% 50%/ contain ;
}
.container main {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.container main #title { font-size: 3.3vw; padding: 3vh; }
.container main .contents {background-color: #fff; color: #000;}
.container main #top { padding: 3vh;}
/* .container main #top h3 { font-size: 1.2rem;} */

.container main .lets { 
  
  font-size: 5vh; padding: 5vh;
  background-color: #000; color: #fff; 
  text-align: center; font-family: 'Parkway';
}

.container main .scout {
  width: 100%; 
  /* height: 85vh; */
}
.container main .scout div{ box-sizing: border-box;}
.container main .scout .img { 
  height:30vh; width: 100%;
  border-bottom: 2px solid #000;
}
.container main .scout1 .img { background: url(../common/images/scout1.jpg) no-repeat 50% / cover;}
.container main .scout2 .img {background: url(../common/images/scout2.jpg) no-repeat 50% / cover; }
.container main .scout .tBox {
  width: 100%; 
  /* height: 25vh; */
}
.container main .scout .tBox .title {
  height: 7vh; line-height: 7vh;
  font-size: 3.3vw;
  font-weight: bold;
  text-indent: 3vh;
  border-bottom: 2px solid #000;
}
.container main .scout .tBox .txt_wrap {
  width: 100%; 
  /* height: 38vh; */
  font-size: 15px;
  padding: 3.2vh 3vh 3vh;
  line-height: 1.2;
  border-bottom: 2px solid #000;
  font-weight: 400;
  display: flex; flex-flow: column; justify-content: start;
}
.container main .scout .tBox .txt_wrap .txt { line-height: 1.2;}
.container main .scout .tBox .go { 
  height: 10vh; display: flex;
  border-bottom: 2px solid #000;
}
.container main .scout .tBox .go p { 
  width: 80%;
  line-height: 10vh; text-align: center;
  border-right: 2px solid #000;
}
.container main .scout .tBox .go .go_icon {
  width: 20%;
  background: url(../common/images/Go_Black.svg) no-repeat 50% / 40%;
 }

.container aside { display: none;}
.container main #top { padding: 3vh;}
.container main #top h3 { font-weight: 2vw;}

@media (min-width:768px) {
/* header */
  .container header {
    width: 5%; height: 100.5vh;
    box-sizing: border-box;
    padding: 3vh 0 ;
    border-right: 1px solid white;
    
    /* position: fixed; left: 0; top: 0; */
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  
  .container header #menu {
    width: 100%;
    height: 2.5vw;
    background: url(../common/images/HamMenu.svg) no-repeat 50% /contain;
  }
  .container header #menu a { 
    width: 100%; height: 100%;
    text-indent: -9999px;
  }
  .container header h2 {  
    height: 11vw;
    text-indent: -99999px;
    
    background: url(../common/images/Web_LUSHkorea.svg)  no-repeat 50% /contain;
  }

/* main */ 
  .container main { width: 85%;}
  .container main #top { padding: 2vh 4vh;}
  .container main #top p { padding-bottom: 1vw; font-size: 1.2rem;}
  .container main #top h3 { font-size: 2vw;}
  .container main .scout { 
    width: 100%; height: 70vh;
    border-bottom: 2px solid #000;

    /* margin-bottom: 2vh; */
    display: flex;
  }
  .container main .scout2 .tBox .title{ border-top: none;}
  .container main .scout .img {
    height:100%; width: 40%;
  }
  .container main .scout .tBox {
    height: 50vh; width: 60%;
  }
  .container main .scout .tBox .title {
    font-size: 2vw; 
    height: 10vh; line-height: 10vh;
    text-indent: 3vw;
  }
  .container main .scout .tBox .txt_wrap {
    height: 48vh; padding: 2.5vw; font-size: 1.6vw; line-height: 1.4;
    justify-content: flex-end;
  }
  .container main .scout .tBox .go { height:12vh;}
  .container main .scout .tBox .go p {line-height: 12vh; font-size: 1.2rem;}
  
  .container main .scout .tBox .go:hover { background-color: #000; color: #fff;}
  
  .container main .scout .tBox .go:hover .go_icon { border-left: 1px solid #fff; background: url(../common/images/Go_White.svg) no-repeat 50% / 40%;;}
  
  .container aside { display: block;}
}